@model Expanse.Models.Models.CryptoCurrency
@{
    ViewData["Title"] = "Delete";// bo tytul jest w _Layout

}
<div class="container">
    <h2>Delete crypto</h2>
    <form asp-action="Delete" method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" disabled/>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Ticker" class="form-label"></label>
            <input asp-for="Ticker" class="form-control" disabled/>
            <span asp-validation-for="Ticker" class="text-danger"></span>
        </div>

        <div class="form-check mb-3">
            <input asp-for="IsFiduciary" class="form-check-input" disabled />
            <label asp-for="IsFiduciary" class="form-check-label"></label>
        </div>

        <div class="mb-3">
            <label asp-for="Info" class="form-label"></label>
            <textarea asp-for="Info" class="form-control" disabled></textarea>
            <span asp-validation-for="Info" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>