@model Expanse.Models.Models.CryptoCurrency
@{
    ViewData["Title"] = "Edit";// bo tytul jest w _Layout

}
<div class="container">
    <h2>Edit crypto</h2>
    <form asp-action="Edit" method="post">
        <div class="mb-3">
            <label asp-for="Name" class="form-label"></label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Ticker" class="form-label"></label>
            <input asp-for="Ticker" class="form-control" />
            <span asp-validation-for="Ticker" class="text-danger"></span>
        </div>

        <div class="form-check mb-3">
            <input asp-for="IsFiduciary" class="form-check-input" />
            <label asp-for="IsFiduciary" class="form-check-label"></label>
        </div>

        <div class="mb-3">
            <label asp-for="Info" class="form-label"></label>
            <textarea asp-for="Info" class="form-control"></textarea>
            <span asp-validation-for="Info" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
</div>
